<!DOCTYPE html>
{% load staticfiles %}
<html>


<head>
    <title>Sobre nós</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
</head>



<body>

        <img src="{% static 'media/howl.gif' %}"
        alt="Imagem em movimento de uma cena do filme O Castelo Animado" /> <!-- acessibilidade -->
</br>
        An example of a static file could be a stylesheet file, which determines the appearance of
        your app’s webpages. An example of a media file could be a user profile image, which is
        uploaded by the user when they create an account on your app.
</br>
        CharField, a field for storing character data (e.g. strings). Specify max_length to provide a
        maximum number o characters the field can store.
        URLField, much like a CharField, but designed for storing resource URLs. You may also
        specify a max_length parameter.
        IntegerField, which stores integers.
        DateField, which stores a Python datetime.date object.
</body>


</html>